<html>
        <head>
          
        </head>
        <body>
          <h1>Data Streams Homework</h1>
          <ul>
            <a href="/map4">
            <li><div><h2>Map Temperature</h2></div><img src="icon/map4.png" /></li>
            </a>

            <a href="/mapHumid">
            <li><div><h2>Map Humidity</h2></div><img src="icon/mapHumid.png" /></li>
            </a>
            <br />
            
            <a href="/processing3">
              
            <li><div><h2>Processing Temperature</h2></div>
              <p>Red areas are hotter, green less hot</p>
              <img src="/icon/processing3.png" /></li>
            </a>

            
            <a href="/processingHumid"><li><div><h2>Processing Humidity</h2></div>
                <p>Blue areas are more humid, green less humid</p>
                <img src="/icon/processingHumid.png" />
            </li></a>
           
          </ul>
        
        
        </body>
      </html>